
@using RealEstateAgency.DAL.Models
@model RealEstateAgency.DAL.Models.UserAccount

@{
    ViewBag.Heading = $"Hello {@Model.FirstName}.";

    //ViewBag.Preview = "Thanks for registering for an account on our website! Before we get started, we just need to confirm that this is you. Click below to verify your email address:";
    ViewBag.Preview = "For reset your password please on link below.";
}


<h4>
    Email: @Model.Email
</h4>
<p>
    @await Component.InvokeAsync("EmailLinkButton", new { text = "Reset password", url = Model.ActivationKey })
</p>

<h5>From solution apps</h5>

